body {
	font-family: Arial, sans-serif;
	background: rgba(0, 191, 255,0.3);
}

.container {
	max-width: auto;
	margin: 0 auto;
}

.form-group {
	margin-bottom: 20px;
}

.form-group #nome_produto{
	width: 300px;
}

.form-group #perimetro{
	width: 80px;
}

.form-group #corte{
	width: 80px;
}

.checkbox {
	margin-right: 200px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.form-group input {
    width: 100%;
}

body {
    font-size: 16px;
}

@media screen and (max-width: 767px) {
    body {
        font-size: 14px;
    }
}

h1 {
    font-size: 2em;
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 1.5em;
    }
}

p {
    font-size: 1em;
}

@media screen and (max-width: 767px) {
    p {
        font-size: 0.8em;
    }
}

#lista_produtos {
    max-width: 400px;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    #lista_produtos {
        max-width: 300px;
    }
}

a {
	color: red;
}