body {
	font-family: Arial, sans-serif;
	background: rgba(175, 238, 238,0.6);
}

.container {
	max-width: auto;
	margin: 0 auto;
}

.form-group {
	margin-bottom: 20px;
}

.form-group #nome_produto{
	width: 200px;
}

.form-group #perimetro{
	width: 80px;
}

.form-group #corte{
	width: 80px;
}

.checkbox {
	margin-top: 20px;
	margin-bottom: 20px;
}